<?xml version="1.0" encoding="UTF-8"?>
<?ifndef Company ?>
    <?error You must define who owns this MSI build?>
<?endif?>
<?ifndef PRODUCT_VERSION ?>
    <?error You must define the version of this MSI build to at least X.X.X?>
<?endif?>
<?ifndef Platform ?>
    <?error You must define the target platform of this MSI build to be either x86 or x64?>
<?endif?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="$(var.Company) OpenXT Tools"
           Language="1033" 
           Version="$(var.PRODUCT_VERSION)" 
           Manufacturer="$(var.Company)"
           UpgradeCode="0aa57b10-bd9f-44e5-8b87-27b7a8729b06">
    <Package Id="*" 
             Keywords="OpenXT, Installer" 
             Description="$(var.Company) OpenXT Tools Installer"
             Manufacturer="$(var.Company)"
             InstallerVersion="300" 
             Compressed="yes"
             InstallScope="perMachine"
             Platform="$(var.Platform)"/>

    <Upgrade Id="0aa57b10-bd9f-44e5-8b87-27b7a8729b06">
        <UpgradeVersion
            Minimum="0.0.0.0" Maximum="6.4.0"
            Property="CXMITRIGGER" OnlyDetect="yes"
            IncludeMinimum="yes" IncludeMaximum="no" /> <!-- Detect CXMI only -->
        <UpgradeVersion
            Minimum="$(var.PRODUCT_VERSION)" Maximum="99.9.9"
            Property="NEWERVERSIONFOUND" OnlyDetect="yes"
            IncludeMinimum="no" IncludeMaximum="yes"  /> <!-- Detect newer installs only -->
    </Upgrade>

    <!-- Check to see whether we want to actually install the switcher bar -->
    <Property Id="NOSWITCHERBAR" Value="0" /> 

    <!--Embed all files within the MSI-->
    <Media Id="1" Cabinet="xentools_shared.cab" EmbedCab="yes" />
    <?if $(var.Platform) = "x86"?><Media Id="2" Cabinet="xentools_32.cab" EmbedCab="yes" /><?endif ?>
    <?if $(var.Platform) = "x64"?><Media Id="2" Cabinet="xentools_64.cab" EmbedCab="yes" /><?endif ?>

    <!-- Ensures some tables are available before attempting any merges, helps silence some errors -->
    <EnsureTable Id="Feature" />
    <EnsureTable Id="FeatureComponents" />

    <!--Define top-level launch conditions-->
    <?if $(var.Platform) = "x86"?>
    <Condition Message='[ProductName] requires Windows XP SP3 or later'>
      (VersionNT = 501 AND ServicePackLevel >= 3) OR (VersionNT >= 600)
    </Condition>
    <?endif ?>

    <!-- Although the UI is never shown, the use of this UI creates the Error table in the MSI, resulting in one less error in install logs -->
    <UIRef Id="WixUI_ErrorProgressText" />

    <?if $(var.Platform) = "x64"?>
    <Condition Message='Requires Windows 7'>
      VersionNT >= 601
    </Condition>
    <?endif ?>
    
    <Condition Message="You need to be an administrator to install this product.">
      Privileged
    </Condition>

    <!-- Platform ARCH checks -->
    <?if $(var.Platform) = x64 ?>
    <Condition Message="This install package only supports 64-bit operating systems."><![CDATA[VersionNT64]]></Condition>
    <?else ?>
    <Condition Message="This install package only supports 32-bit operating systems."><![CDATA[NOT VersionNT64]]></Condition>
    <?endif ?>

    <!--Define XCI installation directory-->
    <Directory Id="TARGETDIR" Name="SourceDir">

      <!--Merge Modules that define layout within themselves -->
      <!-- XenGuestPlugin -->
      <?if $(var.Platform) = "x86"?>
        <Merge Id="XenGuestPlugin" 
               Language="1033" 
               SourceFile=".\Modules\XenGuestPlugin.msm" 
               DiskId="1" />
      <?else ?>
        <Merge Id="XenGuestPlugin" 
               Language="1033" 
               SourceFile=".\Modules\XenGuestPlugin64.msm" 
               DiskId="1" />
      <?endif ?>
    
      <!-- XenGuestAgent (OpenXT Xen Guest Services) -->
      <Merge Id="XenGuestAgentMSM"
             Language="1033"
             SourceFile=".\Modules\XenGuestAgent.msm"
             DiskId="1" />

	  <!-- 32 Bit Prog Files folder -->
      <Directory Id="ProgramFilesFolder" Name="PFiles">

		<!--%PROGRAMFILES%\OpenXT-->
        <Directory Id="INSTALLDIR" Name="OpenXT">
		
		  <!-- Registry Entries -->
		  <Component Id="xensetup" Guid="{BBFD7B30-D93D-4fde-8A4C-3D3496F7A729}">
		    <RegistryValue	Root='HKLM' Key='SOFTWARE\OpenXT\XenTools'
							Type='string' Name='Version' Value='$(var.PRODUCT_VERSION)' KeyPath='yes' />
		    <RegistryValue	Root='HKLM' Key='SOFTWARE\OpenXT\XenTools'
							Type='string' Name='VT' Value='$(var.TAG)' />
		  </Component>

		  <!-- These don't actually set up anything, but exist so that if they get set up the uninstallation process will remove them -->
		  <?if $(var.Platform) = "x86"?>
            <Component Id="wlanprofLaunchKey" Guid="315F0396-1639-4753-A320-B16D07602E9F">
              <Condition>(VersionNT = 501 AND ServicePackLevel >= 3) OR (VersionNT >= 600)</Condition>
              <RegistryValue Root='HKLM' Key='SOFTWARE\OpenXT\OpenXT\WlanProf'
                           Type='string' Value="" KeyPath='yes' />
            </Component>
		  <?else ?>
	        <Component Id="wlanprofLaunchKey" Guid="7351F4C3-8F03-444b-8B15-EC0795E288E7">
            <Condition>VersionNT64</Condition>
              <RegistryValue	Root='HKLM' Key='SOFTWARE\WOW6432Node\OpenXT\OpenXT\WlanProf'
								Type='string' Value="" KeyPath='yes' />
            </Component>
          <?endif ?>
		  
		  <!--%PROGRAMFILES%\OpenXT\XenTools-->
          <Directory Id="XenTools" Name="XenTools">
            
            <!-- %PROGRAMFILES%\OpenXT\XenTools\OpenXTGuestService -->
            <Directory Id="XenClientGuestServiceDir" Name="XenClientGuestService">
              <Merge Id="UdbusBindingsInterfacesLibrariesInstallerMSM"
                     Language="1033"
                     SourceFile=".\Modules\Udbus.Bindings.Interfaces.Libraries.Installer.msm"
                     DiskId="1"
              />
              <Merge Id="UdbusBindingsClientLibrariesInstallerMSM"
                     Language="1033"
                     SourceFile=".\Modules\Udbus.Bindings.Client.Libraries.Installer.msm"
                     DiskId="1"
              />
              <Merge Id="UdbusBindingsServiceLibrariesInstallerMSM"
                     Language="1033"
                     SourceFile=".\Modules\Udbus.Bindings.Service.Libraries.Installer.msm"
                     DiskId="1"
              />
              <Merge Id="XenClientGuestService"
                     Language="1033"
                     SourceFile=".\Modules\XenClientGuestService.msm"
                     DiskId="1"
              />
            </Directory><!--XenClientGuestService-->
          </Directory><!--XenTools-->
        </Directory> <!--OpenXT-->
      </Directory> <!--Program Files-->
	</Directory> <!-- Install To Disk -->
    
    <!--Define XCT MSI Features-->
    <Feature Id="XensetupDrivers" Title="OpenXT Drivers &amp; Services" 
             Description="Installs OpenXT drivers, services and utilities" 
             Level="1" AllowAdvertise="no" InstallDefault="local" Display="expand">
     
	  <!-- Registry Components -->
	  <ComponentRef Id="xensetup" />
	  <ComponentRef Id="wlanprofLaunchKey" />

	  <!-- XenGuest Graphical Agent -->
	  <MergeRef Id ="XenGuestAgentMSM"/>

      <!-- XenClientGuestService modules -->
      <MergeRef Id="UdbusBindingsInterfacesLibrariesInstallerMSM"/>
      <MergeRef Id="UdbusBindingsClientLibrariesInstallerMSM"/>
      <MergeRef Id="UdbusBindingsServiceLibrariesInstallerMSM"/>
      <MergeRef Id="XenClientGuestService"/>
    </Feature>

	<!-- Xen Switcher bar feature, can be disabled via command line parameter -->
	<Feature Id="XenSwitcherBar" Title="OpenXT Switcher Bar" 
             Description="Installs OpenXT Switcher Bar" 
             Level="1" AllowAdvertise="no" InstallDefault="local" Display="expand">
       <Condition Level="0">
          NOSWITCHERBAR = 1
       </Condition>
	   <MergeRef Id ="XenGuestPlugin"/>
	</Feature>

	<!-- Informs the user if there is not enough disk space for the install -->
    <Property Id="PROMPTROLLBACKCOST" Value="P" />

    <!-- Add / Remove Programs Info -->
    <Property Id="ARPHELPLINK" Value="http://openxt.org" />
    <Property Id="ARPURLINFOABOUT" Value="http://openxt.org" />
    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="xen.ico" />

    <!-- Set MSI logging properties -->
    <Property Id="MsiLogging" Value="voicewarmup!" />
	
    <!-- Disable default hibernation settings [XC-4414] -->
    <CustomAction Id="setPowercfg" Property="POWERCFG" Value="[%systemroot]\system32\powercfg.exe"/>
    <CustomAction Id="cablePowercfg" Impersonate="no" Execute="deferred" ExeCommand="-x -hibernate-timeout-ac 0" Property="POWERCFG"/>
    <CustomAction Id="batteryPowercfg" Impersonate="no" Execute="deferred" ExeCommand="-x -hibernate-timeout-dc 0" Property="POWERCFG"/>

    <CustomAction Id="NewerInstalled" Error="A newer version of [ProductName] is already installed. Please uninstall [ProductName] before proceeding." />
    <CustomAction Id="NoCXMI" Error="An older version of [ProductName] is already installed using the outdated CXMI bootstrapper. Please uninstall [ProductName] before proceeding." />

    <InstallExecuteSequence>
      <RemoveExistingProducts Before="InstallInitialize" />
      <Custom Action="NewerInstalled" After="FindRelatedProducts">NEWERVERSIONFOUND</Custom>
      <Custom Action="NoCXMI" After="FindRelatedProducts">CXMITRIGGER</Custom>
      <Custom Action="setPowercfg" Before="cablePowercfg" />
      <Custom Action="cablePowercfg" Before="batteryPowercfg">
        VersionNT >= 600
      </Custom>
      <Custom Action="batteryPowercfg" Before="InstallFinalize">
        VersionNT >= 600
      </Custom>
      <MsiPublishAssemblies />
      <MsiUnpublishAssemblies />
      <ScheduleReboot Before="InstallFinalize" />
    </InstallExecuteSequence>

    <AdvertiseExecuteSequence>
      <MsiPublishAssemblies />
    </AdvertiseExecuteSequence>

  </Product>
</Wix>
